{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

        <h2> {{ent.auction_title}}</h2>
        <img src = "/media/{{ent.auction_picture}}">
        <div> {{ent.auction_content}}</div>
        <div> {{ent.auction_price}}</div>
        <div> {{limittime}}</div>
        <div> {{ent.auction_categoli}}</div>
        <div> {{ent.auction_exhibitor}}</div>
        <div> {{ent.auction_daytime}}</div>
   
    {% if not close_form %}
    <form method="POST" name="bid" >
        <input class="form-control" autofocus type="number" name="bid_price" >
        {% csrf_token %}
        <input type="submit" class="btn" value="BID" name="bid">
    </form>

    <div>COMMENT</div>
        {% for com in lists %}
        <li>{{com.coment_content}}
        <div>auther.{{com.coment_user}} : {{com.coment_daytime}} :commentID:{{com.id}}</div></li>
        {% endfor %}

    <form method="POST" name="comment" >
        <input class="form-control" type="textbox" name="comment" >
        {% csrf_token %}
        <input type="submit" class="btn" value="post" name="comment_bt">
    </form>
    {% endif %}
{% endblock %}