{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

        <h2> {{ent.auction_title}}</h2>
        <img src = "/media/{{ent.auction_picture}}">
        <div> {{ent.auction_content}}</div>
        <div> {{ent.auction_price}}</div>
        <div> {{limittime}}</div>
        <div> {{ent.auction_categoli}}</div>
        <div> {{ent.auction_exhibitor}}</div>
        <div> {{ent.auction_daytime}}</div>
        {% if not message%}
    <form method="POST" >
        <input class="form-control" autofocus type="text" name="bit_price">
        {% csrf_token %}
        <input type="submit" class="btn" value="BID">
    </form>
    {% endif %}
{% endblock %}